
<div class="home">
  <div class="content text-align">
    <h1 class="title-home mb-4"><strong>{The Fashionist}</strong> </h1>
    <h3 class="text mb-5">Denicheur de tendances</h3>
    <%= link_to 'Acceder aux articles', posts_path, class:"btn btn-gradient btn-home shadow" %>
  </div>
</div>
