<div class="container pt-3 mt-3">
  <h1 class="w-100 text-center pb-3 title-index">
    Toutes les dernières tendances
  </h1>
  <ul>
    <% @posts.each do |post| %>
      <div class="col">
        <div class="card-product">
          <h2 class="card-product-infos"><%= post.title %></h2>
          <p class="card-product-infos"><%= post.subtitle %></p>
        </div>
        <button type="button" class="btn-gradient">
        <%= link_to "Lire l'article", post_path(post), class: "text-decoration-none text-black" %>
        </button>
      </div>
    <% end %>
  </ul>
</div>
